# ...директория_проекта/yatube/yatube/.env
SECRET_KEY=xxx

DEBUG=False

# Database
DB_ENGINE=django.db.backends.postgresql
DB_NAME=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432

PUBLIC_HOST=127.0.0.1
